
.skillsBar::-webkit-scrollbar{
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    height: 5px;
    box-shadow: inset 2px 2px 2px gray;
}

.skillsBar::-webkit-scrollbar-thumb{
    background-color: rgb(39, 147, 39);
    border-radius: 20px;
}