.Signup .container{
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 50%;
}

.Signup .form input{
    width: 60%; 
}

.Signup .form input:focus{
    outline: 0;
}

.Signup .form select:active, .Signup .form select:not(:active){
    outline: 0;
}

.Signup .container .name{
    display: flex;
    width: 60%;
    left: 50%;
    transform: translate(7%,0%);
}

.Signup .form input, .Signup .form select, .Signup .form .button{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);  
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
}

.Signup .form .button{
    background-color: #108A00;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
}

.Signup .container .google-login{
   position: relative;
   display: flex;
   justify-content: center;
}

@media screen and (max-width:576px){
    .Signup .container , .Signup .form input, .Signup .form select{
        width: 90%;
    }

    .Signup .container .name{
        width: 90%;
        left: 50%;
        transform: translate(-21%,0%);
    }
}

@media screen and (min-width:576px){
    .Signup .container , .Signup .form input, .Signup .form select{
        width: 80%;
    }

    .Signup .container .name{
        width: 80%;
        left: 50%;
        transform: translate(-14%,0%);
    }
}

@media screen and (min-width:768px){
    .Signup .container , .Signup .form input, .Signup .form select{
        width: 80%;
    }

    .Signup .container .name{
        width: 80%;
        left: 50%;
        transform: translate(-13.5%,0%);
    }
}

@media screen and (min-width:992px){
    .Signup .container , .Signup .form input, .Signup .form select{
        width: 70%;
    }

    .Signup .container .name{
        width: 70%;
        left: 50%;
        transform: translate(-5%,0%);
    }
}

@media screen and (min-width:1200px){
    .Signup .container , .Signup .form input, .Signup .form select{
        width: 50%;
    }

    .Signup .container .name{
        width: 50%;
        left: 50%;
        transform: translate(23%,0%);
    }
}



.Signup .container .line-left, .Signup .container .line-right{
    width: 50%;
    border: 1px solid #c6c6c6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 12px;
}