.post-job .container{
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    background-color: transparent;
    border-radius: 20px;
    margin-top: 25rem;
    margin-left: 50%;
    width: 50%;
}

.post-job .form input , .post-job .form textarea{
    width: 60%; 
}

.post-job .form input:focus , .post-job .form textarea:focus{
    outline: 0;
}

.post-job .form select:active , .post-job .form select:not(:active){
    outline: 0;
}

.post-job .form input , .post-job .form select , .post-job .form textarea , .post-job .form .button{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);  
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
}

.post-job .form .button{
    background-color: #108A00;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
}

.post-job .container .google-login{
    position: relative;
    display: flex;
    justify-content: center;
}


@media screen and (max-width:768px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 90%;  
    }
}

@media screen and (max-width:576px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 90%;  
    }
}

@media screen and (min-width:576px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 80%;  
    }
}

@media screen and (min-width:768px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 80%;  
    }
}

@media screen and (min-width:992px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 70%;  
    }
}

@media screen and (min-width:1200px){
    .post-job .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
    }

    .post-job .form input , .post-job .form select , .post-job .form textarea{
        width: 50%;  
    }
}

.post-job .container .keywords .list{
    background-color: #c3c3c3;
    box-shadow: inset 2px 2px 2px rgb(97, 97, 97);
    border-radius: 10px;
}
