.pop-up{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(224, 224, 224) , -1px -1px 5px rgb(224, 224, 224) , -1px 1px 5px rgb(224, 224, 224) , 1px -1px 5px rgb(224, 224, 224);
    border-radius: 15px;
    z-index: 2;
}

.pop-up .box{
    border-radius: 10px;
    padding: 6px;
}

.pop-up .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.pop-up .box:active , .pop-up .box:not(:active){
    outline: none;
}

.pop-up .languages{
    display: flex;
    justify-content: center;
}

.pop-up .languages select{
    width: 15rem;
    padding: 6px;
    border-radius: 15px;
}

@media screen and (max-width:768px){
    .pop-up .languages select{
        width: 8rem;
    }
}

@media screen and (max-width:576px){
    .pop-up{
        width: 95%;
    }
    .pop-up .languages{
        display: block;
    }
    .pop-up .languages select{
        width: 100%;
        margin-top: 1em;
    }
}

.pop-up .languages select:active , .pop-up .languages select:not(:active){
    outline: none;
}

.pop-up .save-button{
    border: none;
    background-color: rgb(10, 169, 10);
    color: #fff;
    border-radius: 10px;
}

.pop-up .button-position{
    position: relative;
    bottom: 0;
    right: 0;
    float: right;
}

.pop-up .education input, .pop-up .education select , .pop-up .education textarea{
    width: 90%;
    padding: 6px;
    border-radius: 15px;
}

.pop-up .education input:focus , .pop-up .education textarea , .pop-up .education select:active , .pop-up .education section:not(:active){
    outline: none;
}
