.Header{
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    box-shadow: 1px 1px 4px #7e7e7e;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.Header .logo{
    position: relative;
    left: 1rem;
    display: flex;
    align-items: center;
}

.Header .icons{
    display: flex;
    align-items: center;
    position: relative;
    right: 1rem;
    font-size: 22px;
}

.Header .icons .post-job-button{
    background-color: gray;
    border: none;
    border-radius: 15px;
    font-size: 0.8em;
    box-shadow: 1px 1px 1px rgb(159, 159, 159),-1px -1px 1px rgb(159, 159, 159),-1px 1px 1px rgb(159, 159, 159),1px -1px 1px rgb(159, 159, 159);
}

.Header .icons .post-job-button:active{
    box-shadow: none;
}

.Header .icons img{
    cursor: pointer;
}

.Header .menu-icon{
    display: none;
}

@media screen and (max-width:768px){
    .Header .icons{
        display: none;
    }
    .Header .menu-icon{
        display: block;
        position: relative;
        right: 1rem;
        font-size: 22px;
    }
}

