.left-menu .left-menu-list{
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    /* position: absolute;
    top:13%;
    left: 15%; */
}

.left-menu .list-left-menu{
    list-style: none;
    font-size: 1.25rem;
}

.left-menu .list-left-menu li{
    line-height: 2;
}