.post-view .container{
    margin-top: 6rem;
}

.post-view .tags .tag{
    background-color: #D8D8D8;
    box-shadow: inset 1px 1px 1px gray;
    border-radius: 20px;
}

.post-view .container .apply-job{
   width: 100%;
   background-color: rgb(0, 135, 0);
   color: white;
   border-radius: 15px;
   border: none;
}

.post-view .container .save-job{
    width: 100%;
    background-color: transparent;
    color: black;
    border-radius: 15px;
    border: 1px solid green;
 }