.SignupType .container{
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 50%;
}

.SignupType .container .button{
    background-color: #108A00;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
}

.SignupType .container .client , .SignupType .container .freelancer{
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width:576px){
    .SignupType .container{
        width: 90%;
    }
}

@media screen and (min-width:576px){
    .SignupType .container{
        width: 80%;
    }
}

@media screen and (min-width:768px){
    .SignupType .container{
        width: 80%;
    }
}

@media screen and (min-width:992px){
    .SignupType .container{
        width: 70%;
    }
}

@media screen and (min-width:1200px){
    .SignupType .container{
        width: 50%;
    }
}