.landing-page{
    margin-top: 7rem;
}

.landing-page .border{
    border: 1px solid hsla(0, 0, 0, 0.5);
    border-radius: 20px;
}

.landing-page .search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.landing-page .search input{
    width: 100%;
    padding: 6px;
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 68%, 50%);
    box-shadow: 1px 1px 1px rgb(168, 168, 168),-1px -1px 1px rgb(168, 168, 168),-1px 1px 1px rgb(168, 168, 168),1px -1px 1px rgb(168, 168, 168);
}

.landing-page .search input:focus{
    outline: none;
}

.landing-page .search .search-button{
    box-shadow: 2px 2px 2px rgb(69, 69, 69);
    border: none;
    padding: 6px;
    padding-left: 20px;
    padding-right: 34px;
    width: 3rem;
    border-radius: 15px;
    background-color: hsla(0, 0%, 50%, 90%);
    color: white;
}

.landing-page .profile-info img{
    width: 7em;
    border-radius: 50%;
}

.landing-page .profile-info .verified{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page .profile-info .verified img{
    width: 15px;
}